
<div class="flotleft">
    <!-- <img src="{{product.prdImg}}"> -->
</div>
<div class="flotleft">
    <!-- <h1>{{product.prodName}}</h1>
    <p>{{product.prdCtgy}}</p>
    <p>Quanity Available:{{product.quantityAvl}}</p>
    <p>Price:{{product.price}}</p>
    <p>Discount Available: {{product.dsctAvl}}</p>
    <p>Discount Percentage: {{product.dsctPer}}</p>
    <p>Manufacture Details</p>
    <p>Expiry Details</p>
    <p>Shipping Charges</p>
    <p>Return Policy</p>
    <p>Product Reviews:</p> -->
</div>
<button (click)="loginIncre()">Add to Cart</button>


