.prdCard {
    border: 1px solid lightgray;
    width: 15%;
    text-align: center;
}

.prodTitle {
    color: blue;

}

.noProd {
    color: red;
    font-size: 14px;
}

.title {
    text-decoration: underline;
    font-weight: 700;
}